<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<!---------------------------------------------------------------------
Timesheet Template

This HTML file is contain multiple template fragment for Timesheet
a fragment is look like

<th:block th:fragment="action-post-create">
... ... ...
... ... ...
</th:block>

the fragment name is 'action-post-create' mean that it is an
action handler for method 'post' of ActionType 'create'


---------------------------------------------------------------------->
<th:block th:fragment="message">
    <div class="alert alert-danger" th:if="${param.jediError}" th:text="${param.jediError}">Unknown Error!</div>
    <div class="alert alert-success" th:if="${param.jediSuccess}" th:text="${param.jediSuccess}">Unknown Success
        Message!
    </div>
    <div class="alert alert-info" th:if="${param.jediInfo}" th:text="${param.jediInfo}">Unknown Info Message!</div>
</th:block>

<th:block th:fragment="action-get-create">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-post-create">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-get-update">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-post-update">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>


<th:block th:fragment="action-get-default">
    <th:block th:replace="::message">DISPLAY MESSAGES</th:block>
</th:block>

<th:block th:fragment="action-any-create-update">
    <div class="container">
        <!--    ///check object name!! and action link


        There was an error in the template below

            <form action="#" th:action="@{/processtimesheet}" th:object="${timesheet}" method="post"/>
                                                                                                     ^-- HERE!
            enctype="multipart/form-data" class="custom">



        -->
        <!-- KEEP THE LINE BELOW, <...@thymesVar... IT IS NOT A COMMENT
            You shoud change it according to jediEntity variable type
            in  this case it is Timesheet (use fully qualify name, include package name, like below)

        -->
        <!--/*@thymesVar id="jediEntity" type="jbc.timesheet.model.Timesheet"*/-->
        <!--/*@thymesVar id="jediActionNext" type="java.lang.String"*/-->
        <!--/*@thymesVar id="jediMethodNext" type="java.lang.String"*/-->


        <th:block th:if="${jediError}">
            <pre style="display:block;white-space: pre-line; border: red 2px solid; font-size: 0.8rem; margin: 1rem; padding: 1rem;"><code><span
                    th:text="${jediError}">...</span></code></pre>
        </th:block>

        <div class="card text-center">
            <div class="card-header">
                Welcome
            </div>
            <div class="card-body">
                <h5 class="card-title">Add a TimeSheet</h5>
                <!--                <p class="card-text">Please add a start and end date</p>-->

                <form action="#" class="custom" enctype="multipart/form-data" th:action="@{${jediActionNext}}"
                      th:method="${jediMethodNext}" th:object="${jediEntity}">

                    <input th:field="*{id}" type="hidden"/>

                    Start Date :<input class="form-control" th:field="*{isoStartDate}" type="date"/>
                    <span th:errors="${jediEntity.isoStartDate}"
                          th:if="${#fields.hasErrors('isoStartDate')}"></span><br/>
                    End Date :<input class="form-control" th:field="*{isoEndDate}" type="date"/>
                    <span th:errors="${jediEntity.isoEndDate}"
                          th:if="${#fields.hasErrors('isoEndDate')}"></span><br/>


                    <input type="submit" value="Submit"/>
                </form>
                <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
            <div class="card-footer text-muted">
                Thank you!
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="action-get-view">
    <!--/*@thymesVar id="jediEntity" type="jbc.timesheet.model.Timesheet"*/-->
    <!--/*@thymesVar id="jediPrincipal" type="java.security.Principal"*/-->
    <th:block th:replace="::message">DISPLAY MESSAGES</th:block>
    <h2 class="display-4">Timesheet Information</h2><br/>

    <p>Employee Name <span th:text="${jediEntity.employee.firstName}">xxx</span>
        <span th:text="${jediEntity.employee.lastName}">xxx</span></p>

    <p>Period
        <span th:text="${jediEntity.isoStartDate}">xxx</span>
        to
        <span th:text="${jediEntity.isoEndDate}">xxx</span></p>

    <p>Gross Pay
        <span th:text="${#numbers.formatCurrency(jediEntity.pay)}">pay</span>
    </p>
    <p>
        Status
        <th:block th:switch="${jediEntity.stage}">
        <span th:case="${T(jbc.timesheet.model.Stage).EDITING}">
            <span class="badge badge-warning">Editing</span><br><br>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).PENDING}">
            <span class="badge badge-primary">Pending Review</span><br><br>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).APPROVED}">
            <span class="badge badge-success">Approved</span><br><br>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).REJECTED}">
            <span class="badge badge-danger">Rejected</span><br><br>
        </span>
            <span class="badge badge-secondary" th:case="*" th:text="${jediEntity.stage}">Unknown</span>
        </th:block>
    </p>

    <th:block th:replace="auto/entity-activity :: action-get-list (jediEntityCollection = ${jediEntity.activityList})">
        ..
    </th:block>


    <p th:if="${jediIsAuthenticated and jediEntity.employee.username == jediPrincipal.name }">
        <th:block th:switch="${jediEntity.stage}">
        <span th:case="${T(jbc.timesheet.model.Stage).EDITING}">
            <a class="btn btn-outline-danger" th:href="@{/timesheet/delete/{id}(id=${jediEntity.id})}">Delete</a>
            <a class="btn btn-primary"
               th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).PENDING})}">
                Submit For Review</a>
            <a class="btn btn-secondary" th:href="@{/timesheet/update/{id}(id=${jediEntity.id})}">Edit</a>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).PENDING}">
            <a class="btn btn-danger"
               th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).EDITING})}">
                Cancel Submission</a>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).APPROVED}"></span>
        <span th:case="${T(jbc.timesheet.model.Stage).REJECTED}">
            <a class="btn btn-outline-danger" th:href="@{/timesheet/delete/{id}(id=${jediEntity.id})}">Delete</a>
            <a class="btn btn-secondary"
               th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).EDITING})}">
                Cancel Submission</a>
        </span>
        <span class="badge badge-secondary" th:case="*" th:text="${jediEntity.stage}">Unknown</span>

        </th:block>
    </p>

<!-- TODO:   BUG BUG BUG BUG-->
    <p sec:authorize="hasAuthority('ADMIN')">
        <th:block th:switch="${jediEntity.stage}">
            <th:block th:case="${T(jbc.timesheet.model.Stage).PENDING}" >
                <th:block th:replace="::admin-menu-approve-reject (timesheetId = ${jediEntity.id})">...</th:block>
            </th:block>
            <th:block th:case="${T(jbc.timesheet.model.Stage).APPROVED}" >
                <a class="btn btn-warning" th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).PENDING})}">
                    Revise Decision</a>
            </th:block>
            <th:block th:case="${T(jbc.timesheet.model.Stage).REJECTED}" >
                <a class="btn btn-warning" th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).PENDING})}">
                    Revise Decision</a>
            </th:block>
        </th:block>
    </p>

    <div class="border border-secondary my-3 mx-1 p-3">
        <strong>Log</strong>
        <div class="font-weight-light" style="font-size: 0.8rem; display:block;">
            <th:block th:each="logEntry : ${log}">
                <!--/*@thymesVar id="logEntry" type="jbc.timesheet.model.Log"*/-->
                On <span th:text="${logEntry.timestamp}">...</span>,
                <span th:text="${logEntry.action}">...</span>
                by <span th:text="${logEntry.username}">...</span><br>
            </th:block>
        </div>
    </div>

</th:block>
<th:block th:fragment="admin-menu-approve-reject (timesheetId)">
    <form method="#" action="#" th:method="GET" th:action="@{/timesheet/update/stage}">
        <input name="id" th:value="${timesheetId}" type="hidden">
        <label>Reason
            <input name="reason"  type="text">
        </label>
        <input class="btn btn-outline-danger" name="action" type="submit" value="Reject" >
        <input class="btn btn-outline-success" name="action" type="submit" value="Approve" >
    </form>
</th:block>

<th:block th:fragment="search-block">
    <div>
        <form th:action="@{/timesheet/search}" method="GET" >

            <label>Stage
                <select name="stage">
                    <option value="">-- All --</option>
                    <option th:value="${T(jbc.timesheet.model.Stage).PENDING}">Pending Review</option>
                    <option th:value="${T(jbc.timesheet.model.Stage).EDITING}">Editing</option>
                    <option th:value="${T(jbc.timesheet.model.Stage).APPROVED}">Approved</option>
                    <option th:value="${T(jbc.timesheet.model.Stage).REJECTED}">Rejected</option>
                </select>
            </label>


            <input type="submit" class="btn btn-primary">

        </form>
    </div>
</th:block>



<th:block th:fragment="action-get-list">
    <h2 class="display-4">Timesheet Directory</h2>
    <div sec:authorize="!isAuthenticated()">
        You are not logged in
    </div>
    <ol sec:authorize="isAuthenticated()" class="gradient-list">
        <th:block th:replace="::search-block">...</th:block>
        <th:block th:each="jediEntity : ${jediEntityCollection}">
            <li><a th:href="@{/timesheet/retrieve/{id}(id=${jediEntity.id})}">
                Timesheet '<span th:text="${jediEntity.employee.lastName}">xxx</span>,
                <span th:text="${jediEntity.employee.firstName}">xxx</span>'

                (<span th:text="${jediEntity.isoStartDate}">xxx</span>
                to
                <span th:text="${jediEntity.isoEndDate}">xxx</span>)
            </a>
                <th:block th:switch="${jediEntity.stage}">
                    <span class="badge badge-warning" th:case="${T(jbc.timesheet.model.Stage).EDITING}">Editing</span>
                    <span class="badge badge-primary"
                          th:case="${T(jbc.timesheet.model.Stage).PENDING}">Pending Review</span>
                    <span class="badge badge-success" th:case="${T(jbc.timesheet.model.Stage).APPROVED}">Approved</span>
                    <span class="badge badge-danger" th:case="${T(jbc.timesheet.model.Stage).REJECTED}">Rejected</span>
                    <span class="badge badge-secondary" th:case="*" th:text="${jediEntity.stage}">Unknown</span>
                </th:block>
            </li>
        </th:block>
    </ol>
</th:block>


</body>
</html>