<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<!---------------------------------------------------------------------
Timesheet Template

This HTML file is contain multiple template fragment for Timesheet
a fragment is look like

<th:block th:fragment="action-post-create">
... ... ...
... ... ...
</th:block>

the fragment name is 'action-post-create' mean that it is an
action handler for method 'post' of ActionType 'create'


---------------------------------------------------------------------->
<th:block th:fragment="message">
    <div class="alert alert-danger" th:if="${param.jediError}" th:text="${param.jediError}">Unknown Error!</div>
    <div class="alert alert-success" th:if="${param.jediSuccess}" th:text="${param.jediSuccess}">Unknown Success
        Message!
    </div>
    <div class="alert alert-info" th:if="${param.jediInfo}" th:text="${param.jediInfo}">Unknown Info Message!</div>
</th:block>

<th:block th:fragment="action-get-create">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-post-create">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-get-update">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-post-update">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-any-create-update">
    <div class="container">
        <!--    ///check object name!! and action link


        There was an error in the template below

            <form action="#" th:action="@{/processtimesheet}" th:object="${timesheet}" method="post"/>
                                                                                                     ^-- HERE!
            enctype="multipart/form-data" class="custom">



        -->
        <!-- KEEP THE LINE BELOW, <...@thymesVar... IT IS NOT A COMMENT
            You shoud change it according to jediEntity variable type
            in  this case it is Timesheet (use fully qualify name, include package name, like below)

        -->
        <!--/*@thymesVar id="jediEntity" type="jbc.timesheet.model.Timesheet"*/-->
        <!--/*@thymesVar id="jediActionNext" type="java.lang.String"*/-->
        <!--/*@thymesVar id="jediMethodNext" type="java.lang.String"*/-->


        <th:block th:if="${jediError}">
            <pre style="display:block;white-space: pre-line; border: red 2px solid; font-size: 0.8rem; margin: 1rem; padding: 1rem;"><code><span
                    th:text="${jediError}">...</span></code></pre>
        </th:block>

        <div class="card text-center">
            <div class="card-header">
                Welcome
            </div>
            <div class="card-body">
                <h5 class="card-title">Add a TimeSheet</h5>
<!--                <p class="card-text">Please add a start and end date</p>-->

        <form action="#" class="custom" enctype="multipart/form-data" th:action="@{${jediActionNext}}"
              th:method="${jediMethodNext}" th:object="${jediEntity}">

            <input th:field="*{id}" type="hidden"/>

            Start Date :<input class="form-control" th:field="*{isoStartDate}" type="date"/>
            <span th:errors="${jediEntity.startDate}"
                  th:if="${#fields.hasErrors('isoStartDate')}"></span><br/>
            End Date :<input class="form-control" th:field="*{isoEndDate}" type="date"/>
            <span th:errors="${jediEntity.isoEndDate}"
                  th:if="${#fields.hasErrors('isoEndDate')}"></span><br/>

            <input th:field="*{activityList}" type="hidden"/>

            <input th:field="*{stage}" type="hidden"/>

            <input th:field="*{employee}" type="hidden"/>


            <input type="submit" value="Submit"/>
        </form>
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    <div class="card-footer text-muted">
        Thank you!
    </div>
    </div>
    </div>
</th:block>


<th:block th:fragment="action-get-view">
    <!--/*@thymesVar id="jediEntity" type="jbc.timesheet.model.Timesheet"*/-->
    <!--/*@thymesVar id="jediPrincipal" type="java.security.Principal"*/-->
    <th:block th:replace="::message">DISPLAY MESSAGES</th:block>
    <h2 class="display-4">Timesheet Information</h2><br />

    <p>Employee Name <span th:text="${jediEntity.employee.firstName}">xxx</span>
        <span th:text="${jediEntity.employee.lastName}">xxx</span></p>

    <p>Period
    <span th:text="${jediEntity.isoStartDate}">xxx</span>
    to
        <span th:text="${jediEntity.isoEndDate}">xxx</span> </p>

    <p th:if="${jediIsAuthenticated and jediEntity.employee.username == jediPrincipal.name }">
        Status
    <th:block th:switch="${jediEntity.stage}">
        <span th:case="${T(jbc.timesheet.model.Stage).EDITING}" >
            <span class="badge badge-warning">Editing</span><br><br>
            <a class="btn btn-outline-danger" th:href="@{/timesheet/delete/{id}(id=${jediEntity.id})}">Delete</a>
            <a class="btn btn-primary"  th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).PENDING})}">
                Submit For Review</a>
            <a class="btn btn-secondary"  th:href="@{/timesheet/update/{id}(id=${jediEntity.id})}">Edit</a>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).PENDING}" >
            <span class="badge badge-primary">Pending Review</span><br><br>
            <a class="btn btn-danger" th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).EDITING})}">
                Cancel Submission</a>
        </span>
        <span th:case="${T(jbc.timesheet.model.Stage).APPROVED}" ><span class="badge badge-success">Approved</span></span>
        <span th:case="${T(jbc.timesheet.model.Stage).REJECTED}" >
            <span class="badge badge-danger">Rejected</span><br><br>
            <a class="btn btn-outline-danger" th:href="@{/timesheet/delete/{id}(id=${jediEntity.id})}">Delete</a>
            <a class="btn btn-secondary" th:href="@{/timesheet/update/{id}/stage(id=${jediEntity.id},updateTo=${T(jbc.timesheet.model.Stage).EDITING})}">
                Cancel Submission</a>
        </span>
        <span th:case="*" class="badge badge-secondary" th:text="${jediEntity.stage}">Unknown</span>

    </th:block>
    </p>



</th:block>

<th:block th:fragment="action-get-list">
    <h2 class="display-4">Timesheet Directory</h2>
    <ul>
        <th:block th:each="jediEntity : ${jediEntityCollection}">
            <li><a th:href="@{/timesheet/view/{id}(id=${jediEntity.id})}">
                Timesheet '<span th:text="${jediEntity.employee.firstName}">xxx</span>
                <span th:text="${jediEntity.employee.lastName}">xxx</span>'
                (<span th:text="${jediEntity.isoStartDate}">xxx</span>
                to
                <span th:text="${jediEntity.isoEndDate}">xxx</span>)
            </a>
                <th:block th:switch="${jediEntity.stage}">
                    <span th:case="${T(jbc.timesheet.model.Stage).EDITING}" class="badge badge-warning">Editing</span>
                    <span th:case="${T(jbc.timesheet.model.Stage).PENDING}" class="badge badge-primary">Pending Review</span>
                    <span th:case="${T(jbc.timesheet.model.Stage).APPROVED}" class="badge badge-success">Approved</span>
                    <span th:case="${T(jbc.timesheet.model.Stage).REJECTED}" class="badge badge-danger">Rejected</span>
                    <span th:case="*" class="badge badge-secondary" th:text="${jediEntity.stage}">Unknown</span>
                </th:block>
            </li>
        </th:block>
    </ul>
</th:block>


</body>
</html>