<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="jediEntity" type="jbc.timesheet.model.Employee"*/-->
<!--/*@thymesVar id="jediEntityCollection" type="java.util.ArrayList<jbc.timesheet.model.Employee>"*/-->
<!--/*@thymesVar id="jediActionNext" type="java.lang.String"*/-->
<!--/*@thymesVar id="jediMethodNext" type="java.lang.String"*/-->
<th:block th:fragment="message">
    <div class="alert alert-danger" th:if="${param.jediError}" th:text="${param.jediError}">Unknown Error!</div>
    <div class="alert alert-success" th:if="${param.jediSuccess}" th:text="${param.jediSuccess}">Unknown Success
        Message!
    </div>
    <div class="alert alert-info" th:if="${param.jediInfo}" th:text="${param.jediInfo}">Unknown Info Message!</div>
</th:block>

<th:block th:fragment="action-get-default">
    <th:block th:replace="::message">DISPLAY MESSAGES</th:block>
    <h1 class="display-4" th:if="${param.jediError}" th:text="${param.jediError}">Unknown Error!</h1>
</th:block>

<th:block th:fragment="action-get-create">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>


<th:block th:fragment="action-get-update">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>

<th:block th:fragment="action-post-update">
    <th:block th:replace="::action-any-create-update">
        WE SHARE ONE FRAGMENT action-any-create-update
    </th:block>
</th:block>


<th:block th:fragment="action-get-delete">

    DELETED!

</th:block>

<th:block th:fragment="action-any-create-update">
    <th:block th:replace="::message">DISPLAY MESSAGES</th:block>
    <div class="card my-3 mx-auto" style="max-width: 500px;">
        <div class="card-header">
            <b>Add/Modify Employee Information</b>
        </div>
        <div class="card-body">
            <h4>Employee</h4>
            <form autocomplete="off"
                  action="#"
                  th:action="@{${jediActionNext}}"
                  th:object="${jediEntity}" method="post">
                <input type="hidden" th:field="*{id}">
                First Name: <strong>

    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">First Name Error</span></strong>
                <input type="text" id="firstName" placeholder="First Name"
                       th:field="*{firstName}"/><br/>

                Last Name:<strong>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">Last Name Error</span></strong>
                <input type="text" id="lastName" placeholder="Last Name"
                       th:field="*{lastName}"/><br/>

                Date of Birth:<strong>
    <span th:if="${#fields.hasErrors('isoDob')}"
          th:errors="*{isoDob}">Last Name Error</span></strong>
                <input type="date" id="isoDob" placeholder="Date of Birth"
                       th:field="*{isoDob}"/><br/>

                <br/>
                <br>
                <h4>Address</h4><strong>
                Street:
                <span th:if="${#fields.hasErrors('address.street')}"
                      th:errors="*{address}">Street Error</span></strong>
                <input type="text" id="address.street" placeholder="street"
                       th:field="*{address.street}"/><br/>

                Street 2:
                <span th:if="${#fields.hasErrors('address.street2')}"
                      th:errors="*{address}">Street2 Error</span></strong>
                <input type="text" id="address.street2" placeholder="street2"
                       th:field="*{address.street2}"/><br/>

                City:
                <span th:if="${#fields.hasErrors('address.city')}"
                      th:errors="*{address}">City Error</span></strong>
                <input type="text" id="address.city" placeholder="city"
                       th:field="*{address.city}"/><br/>

                State:
                <span th:if="${#fields.hasErrors('address.state')}"
                      th:errors="*{address}">State Error</span></strong>
                <input type="text" id="address.state" placeholder="state"
                       th:field="*{address.state}"/><br/>

                Zip:
                <span th:if="${#fields.hasErrors('address.zip')}"
                      th:errors="*{address}">Zip Error</span></strong>
                <input type="text" id="address.zip" placeholder="zip"
                       th:field="*{address.zip}"/><br/>

                <br><br>
                <h4><b>Password</b></h4>
                <div class="border p-2">

                    Username (Email):<strong>
            <span th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Password Error</span></strong>
                    <input type="text" id="username" placeholder="Email"
                           th:field="*{username}"/><br/>

                    Password:<strong>
            <span th:if="${#fields.hasErrors('passwordRaw')}"
                  th:errors="*{passwordRaw}">Password Error</span></strong>
                    <input type="text" id="passwordRaw" placeholder="Password"
                           th:field="*{passwordRaw}"/><br/>

                    Password Verify:<strong>
            <span th:if="${#fields.hasErrors('passwordVerify')}"
                  th:errors="*{passwordVerify}">Password Error</span></strong>
                    <input type="text" id="passwordVerify" placeholder="Verify Password"
                           th:field="*{passwordVerify}"/><br/>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            Thank you!
        </div>
    </div>
</th:block>

<th:block th:fragment="action-get-view">
    <th:block th:replace="::message">DISPLAY MESSAGES</th:block>
    <h2 class="display-4">Employee Information</h2><br/><br>
    <p>Name: <span th:text="${jediEntity.firstName}">John</span>
    <span th:text="${jediEntity.lastName}">Doe</span></p>
    <p>Address:<br>
    <span th:text="${jediEntity.address.street}">123 JBC Street</span>
    <span th:text="${jediEntity.address.street2}">APT 112</span>
    <span th:text="${jediEntity.address.city}">NYC</span>
    <span th:text="${jediEntity.address.state}">NY</span>
    <span th:text="${jediEntity.address.zip}">23454</span></p>

<br>
    <a role="button" class="btn btn-outline-danger" th:href="@{/employee/delete/{id}(id=${jediEntity.id})}">Delete</a>
    <a role="button" class="btn btn-outline-primary" th:href="@{/employee/update/{id}(id=${jediEntity.id})}">Edit</a>



</th:block>

<th:block th:fragment="action-get-list">
    <h2 class="display-4">Employee Directory</h2>
    <ul>
        <th:block th:each="jediEntity : ${jediEntityCollection}">
            <li><a th:href="@{/employee/retrieve/{id}(id=${jediEntity.id})}">
                <span th:text="${jediEntity.firstName}">John</span>
                <span th:text="${jediEntity.lastName}">Doe</span>
                (<span th:text="${jediEntity.username}">username@example.com</span>)
            </a> <a class="badge badge-danger" th:href="@{/login(auto=${jediEntity.username})}">login</a>
            </li>
        </th:block>
    </ul>
</th:block>

</body>
</html>